<%inherit file="deltares-base.html"/>
<%def name="title()">
 Overview
</%def>
<%def name="head()">

<!-- gmap 3
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
-->
<script type="text/javascript" src="http://www.google.com/jsapi?key=${googlekey}"></script>
<script type="text/javascript">
google.load("maps", "2");
</script>
<script type="text/javascript" src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/1.1/src/markermanager_packed.js"></script>

<!-- jquery -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
$(document).ready(function() {
$("#tabs").tabs();
});
</script>

<style>
#map {
 width: 100%;
 height: 300px;
 clear: right;
 background-color: grey;
}
#transect {
 width: 50;
 float: left;
}
#plot {
}
#procrustes {
float: left;
}
</style>
<script type="text/javascript">
function initializeMap() {
    var latlng = new google.maps.LatLng(52.5, 5);
    var myOptions = {
      zoom: 6,
      center: latlng,
      mapTypeId: G_PHYSICAL_MAP 
    };
    var map = new google.maps.Map2(document.getElementById("map"), myOptions);
    map.setCenter(myOptions.center, myOptions.zoom, myOptions.mapTypeId);
    map.setUIToDefault();
    selectedMarker = null;
    return map;
  }

plotpoints = function(map, mgr) {
       var bounds = map.getBounds();
       $.getJSON('/jarkus/transectsinview?bounds='+bounds.getSouthWest().toUrlValue() + ',' +bounds.getNorthEast().toUrlValue(),function(data){
       var blueIcon = new google.maps.Icon(G_DEFAULT_ICON);
       blueIcon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/blue.png";

       var dotIcon = new google.maps.Icon(G_DEFAULT_ICON);
       dotIcon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/red.png";


       mgr.clearMarkers()
       var markers = {
          level4: [],
          level7: [],
          level10: [],
          level13: []
       }
       $.each(data.transects, function(i,item) {
           var myLatLng = new google.maps.LatLng(item.lat,item.lon);
           var marker = new google.maps.Marker(myLatLng,{
              position: myLatLng,
              map: map, 
              title:item.id.toString(),
              icon:blueIcon 
          });
          google.maps.Event.addListener(marker, "click", function(mrkLatLng) {
                     $('#plot').load('/jarkus/transect/' + item.id.toString() + ' #plots');
                     $('#data').load('/jarkus/transect/' + item.id.toString() + ' #data');
                     $('#code').load('/jarkus/transect/' + item.id.toString() + ' #code');


                     if (selectedMarker) {
                         map.removeOverlay(selectedMarker);
                     };
selectedMarker = new google.maps.Marker(mrkLatLng,{position: mrkLatLng, map: map, title:item.id.toString(), icon:dotIcon});
                     map.addOverlay(selectedMarker);

          });
          if (!( i % 125))
          {
             markers.level4.push(marker);
           }
          if (!(i % 25))
          {
             markers.level7.push(marker);
           }
          if (!(i % 5))
          {
             markers.level10.push(marker);
          }
          markers.level13.push(marker);

       }
      )
     mgr.addMarkers(markers.level4, 4,6);
     mgr.addMarkers(markers.level7, 7,9);
     mgr.addMarkers(markers.level10, 10,12);
     mgr.addMarkers(markers.level13, 13);
     mgr.refresh();

    })
}

$(document).ready(function() {
 map = initializeMap();
 mgr = new MarkerManager(map);
 plotpoints(map, mgr)


 });
</script>
</%def>

<div>
<div id="map">
</div>
</div>





<div id="tabs">
    <ul>
        <li><a href="#plottab"><span>Plots</span></a></li>
        <li><a href="#datatab"><span>Data</span></a></li>
        <li><a href="#codetab"><span>Code</span></a></li>
    </ul>
    <div id="plottab">
    <div id="plot">
      Please click on a transect to see the plots.
    </div>
    </div>
    <div id="datatab">
      <div id="data">
	Please click on a transect to see links to the data.
      </div>
    </div>
    <div id="codetab">
      <div id="code">
	Please click on a transect to see links to code examples.
      </div>
    </div>
</div>

