<%inherit file="deltares-base.html"/>
<%def name="title()">
 Transect ${transect.id}
</%def>
<%def name="head()">
<style>
#map {
 width: 100%;
 height: 300px;
 clear: right;
 background-color: grey;
}
#transect {

}
#plot {
}
</style>
</%def>

<div id="transect">
  <div id="transecttable">
    <table>
      <tr>
	<th>Id</th><td>${transect.id}</td>
      </tr>
    </table>
  </div>
</div>
<div id="plots">
  <h1>Jarkus profile ${transect.id}</h1>
  <div id="procrustes">
    <img width="300" height="400" src="${h.url(controller='jarkus', action='procrustes', id=transect.id, format="png", qualified=True)}" />
    <p>Download as
      <a href="${h.url(controller='jarkus', action='procrustes', id=transect.id, format='pdf', dpi=300, qualified=True)}">pdf</a>,
      <a href="${h.url(controller='jarkus', action='procrustes', id=transect.id, format='png', dpi=300, qualified=True)}">png</a>
      <a href="${h.url(controller='jarkus', action='procrustes', id=transect.id, format='svg', dpi=300, qualified=True)}">svg</a> 
    </p>
  </div>
    <div id="mkl">
    <img width="300" height="200" src="${h.url(controller='jarkus', action='mkl', id=transect.id, format="png", qualified=True)}" />
    <p>Download as
      <a href="${h.url(controller='jarkus', action='mkl', id=transect.id, format='pdf', dpi=300, qualified=True)}">pdf</a>,
      <a href="${h.url(controller='jarkus', action='mkl', id=transect.id, format='png', dpi=300, qualified=True)}">png</a>
      <a href="${h.url(controller='jarkus', action='mkl', id=transect.id, format='svg', dpi=300, qualified=True)}">svg</a> 
    </p>
  </div>
  <div id="transectplot">
    <img width="300" height="200" src="${h.url(controller='jarkus', action='transectplot', id=transect.id, format='png', qualified=True)}" />
    <p>Download as
      <a href="${h.url(controller='jarkus', action='transectplot', id=transect.id, format='pdf', dpi=300, qualified=True)}">pdf</a>,
      <a href="${h.url(controller='jarkus', action='transectplot', id=transect.id, format='png', dpi=300, qualified=True)}">png</a>
      <a href="${h.url(controller='jarkus', action='transectplot', id=transect.id, format='svg', dpi=300, qualified=True)}">svg</a> 
    </p>
  </div>
  <div class="eeg">
    <img width="300" height="200" src="${h.url(controller='jarkus', action='eeg', id=transect.id, format="png", qualified=True)}" />
    <p>Download as
      <a href="${h.url(controller='jarkus', action='eeg', id=transect.id, format='pdf', dpi=300, qualified=True)}">pdf</a>,
      <a href="${h.url(controller='jarkus', action='eeg', id=transect.id, format='png', dpi=300, qualified=True)}">png</a>
      <a href="${h.url(controller='jarkus', action='eeg', id=transect.id, format='svg', dpi=300, qualified=True)}">svg</a> 
    </p>

  </div>
  <div id="alphahistory">
    <img width="300" height="200" src="${h.url(controller='jarkus', action='alphahistory', id=transect.id, format="png", qualified=True)}" />
    <p>Download as
      <a href="${h.url(controller='jarkus', action='alphahistory', id=transect.id, format='pdf', dpi=300, qualified=True)}">pdf</a>,
      <a href="${h.url(controller='jarkus', action='alphahistory', id=transect.id, format='png', dpi=300, qualified=True)}">png</a>
      <a href="${h.url(controller='jarkus', action='alphahistory', id=transect.id, format='svg', dpi=300, qualified=True)}">svg</a> 
    </p>
  </div>

  <p>View this transect in <a href="${h.url(controller='jarkus', action='transect', id=transect.id, format='kml', qualified=True)}">google earth</a>.</p>
  
</div>
<div id="data">
  <h1>Jarkus profile ${transect.id}</h1>
  <p>Download as:</p>
  <ul>
    <li><a href="${h.url(controller='jarkus', action='transect', id=transect.id, format='csv', qualified=True)}">csv</a></li>
    <li><a href="${h.url(controller='jarkus', action='transectjson', id=transect.id, qualified=True)}">json</a></li>
  </ul>
  
</div>
<div id="code">
  <h1>Jarkus profile ${transect.id}</h1>
  <p>Download example script as:</p>
  <ul>
    <li><a href="${h.url(controller='jarkus', action='code', id=transect.id, format='m', qualified=True)}">matlab</a></li>
    <li><a href="${h.url(controller='jarkus', action='code', id=transect.id, format='py', qualified=True)}">python</a></li>
  </ul>
</div>

