<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
<!-- Main page     -->
<html>

<head>
<title>Test result pages</title>
<LINK href="stylesheet.css" rel="stylesheet" type="text/css">
<script language='javascript'>
function redir(id){
     window.open("../exit.php?id="+id);
}

</script>
</head>

<frameset rows="100,*" BORDER="1" FRAMESPACING="0">
  <frame src="WaveLab_Header.html" name="header" id="header" frameborder="0" SCROLLING="no" NORESIZE>
  <frameset cols="25%,*">
    <frame src="testresults.html" name="test_tree" id="test_tree" frameborder="1"  SCROLLING="yes" NORESIZE>
    <frame name="test_viewer" id="test_viewer" frameborder="1" scrolling="yes">
  </frameset>
</frameset>

</html>
