/* FRAMES STYLE  */
#header {
   border:1px solid white;
}

/* treeview body tag */
.treeview_menu
{
background: #A5E0E3;
}

.header_text
{
color           : black;
font-family     : arial;
font-size       : 40px;
}

.not_hidden_input
{
color           : black;
background-color: #E1E1E1;
font-family     : arial;
font-size       : 11px;
border-style    : none;
}

body{
font-family     : arial;
font-size       : 12px;
}

td{
font-family     : arial;
font-size       : 12px;
}

a{
font-family     : arial;
font-size       : 12px;
}

label{
font-family     : arial;
font-size       : 12px;
}

input.btn{
   color:blue;
   font-family  :arial;
   font-size    :90%;
   /*filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#E6E6E6aa');*/
}
.calculate_div {
border: none; 
}
