/*.asv
/KML_colorbar_template_horizontal.png
/KML_colorbar_template_horizontal.psd
/KML_colorbar_template_horizontal_Ecoshape.png
/KML_colorbar_template_horizontal_Ecoshape.psd
/KML_colorbar_template_vertical.png
/KML_colorbar_template_vertical.psd
/KML_colorbar_template_vertical_Ecoshape.png
/KML_colorbar_template_vertical_Ecoshape.psd
