.btn-block {
    display: block;
    min-width: 100%;
}

div.panel-body#dimensions_bod {
    height: 400px;
}

div.panel-body#variables {
    height: 400px;
}

div.panel-body#output {
    height: 400px;
}

.panel.panel-primary{
    opacity:0.8;
}

.panel-body {
    overflow: auto;
}

body .modal {
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto;
}
/*.modal.large {*/
    /*width: 80%; *//* respsonsive width */
    /*margin-left:-40%; *//**//* width/2) */
/*}*/

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:15px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:15px;
}

#ex1Slider .slider-selection {
	background: #149bdf;
}
