

svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}
rect {
  fill: #ddd;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
}

path.line{
    stroke: black;
    stroke-opacity: 0.3;
    fill: none;

}

text {
    font-family: sans-serif;
    font-size: small;
}