{% extends 'main/base.html' %}
{% load staticfiles %}

{% block js %}{{ block.super }}
    <!--<script type="text/javascript" src="{% static 'highcharts.js' %}"></script>-->
    <script>
    $(document).ready(function () {
        areaselect();
        transectselect("2");
        yearselect();
{#        draw("{% url 'jarkus:high-transect' %}");#}
        $('button').on('click', function () {
            var aidx = $('select#transect').val();
            var tidx = $('select#year').val();
            $('img#transect_figure').attr('src', "{% url 'jarkus:transect' %}?aidx="+aidx+'&tidx='+tidx)
        });
        $('select#area').on('change', function () {
            transectselect ($('select#area').val())
        });
    });
{#    function draw (url) {#}
{#        $.getJSON(url, function(data) {#}
{#            $('#figure').highcharts(data);#}
{#        });#}
{#    }#}
    function areaselect () {
        $.getJSON("{% url 'jarkus:json-areas' %}", function(data) {
            var areas = $('select#area');
            areas.empty();
            $.each(data, function (i, value) {
                areas.append($('<option>').text(value.name).attr('value', value.number))
            })
        })
    }
    function transectselect (area) {
        $.getJSON("{% url 'jarkus:json-transects' %}?area=" + area, function(data) {
            var transects = $('select#transect');
            transects.empty();
            $.each(data, function (i, value) {
                transects.append($('<option>').text(value.number).attr('value', value.index))
            })
        })
    }
    function yearselect () {
        $.getJSON("{% url 'jarkus:json-dates' %}", function(data) {
            var years = $('select#year');
            years.empty();
            $.each(data, function (i, value) {
                years.append($('<option>').text(value.date).attr('value', value.index))
            })
        })
    }
    </script>
{% endblock %}

{% block title %}
JarKus GUI | Home
{% endblock %}

{% block content %}
    <div class="row">
{#        <div class="col-sm-3">#}
{#          <div class="panel panel-primary">#}
{#            <div class="panel-heading">JarKus GUI</div>#}
{#              <select id="area" style="width: 100px">#}
{#              </select>#}
{#              <select id="transect" style="width: 100px">#}
{#              </select>#}
{#              <select id="year" style="width: 100px">#}
{#              </select>#}
{#            <div class="panel-body">#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

        <div>
          <div class="panel panel-primary">
            <div class="panel-heading">JarKus GUI</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="area">Area</label>
                        <select id="area" class="form-control">
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="area">Transect</label>
                        <select id="transect" class="form-control"">
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="area">Year</label>
                        <select id="year" class="form-control">
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Update plot</button>
                    </div>
                </div>
                <img id="transect_figure" src="{% url 'jarkus:transect' %}?aidx=50&tidx=30">
{#                <div id="figure" style="height: 300px"></div>#}
            </div>
          </div>
        </div>
    </div>
{% endblock %}