<html>
    <head>
        <title>Skillbed</title>

        <link href="/css/default.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/js/jquery-1.5.min.js"></script>
        <script type="text/javascript" src="/js/jquery.event.wheel.js"></script>
        <script type="text/javascript" src="/js/default.js"></script>
    </head>
<body>

<div id="title">
    <h1>Skillbed</h1>
</div>

<div id="monitor">
    <div id="monitor_title"></div>
    <div id="monitor_body"></div>
</div>

<form name="testbed" action="/interface/run" method="POST">

<div id="rollerband">
    <div id="roller">

        <div class="frame">
            <h3>Introduction</h3>

            <p>
                Welcome to the automated Skillbed Interface. The Skillbed monitors the qualitative performence of models by automatically running a selection of models with the latest model version from a Subversion repository. The results are analyzed using Matlab scripts that provide visual and statistical comparisons with measurements and past results. The results of the analysis is collected on several PDF reports, which are sent to the development team.
            </p>

            <p>
                This interface enables users to start additional runs of the skillbed, possibly with selected binaries, tests and reports. Please walk through the steps on the right of this frame by <u>dragging your mouse to the left</u>. Follow the instructions displayed for each step.
            </p>
        </div>
        <div class="frame">
            <h3>Binaries</h3>

            <p>
                In the list below, please select the binary types you like to be tested. All selected tests on the next page will be run using each of the selected binaries. Some reports expect certain binaries to be selected. This dependes on the choices of the report editor.
            </p>

            <div class="checklist">
                <input type="checkbox" value="binaries" onclick="selectAll(this);" id="binaries_all"> <label for="binaries_all">select all</label><br>

                % for key, value in c.binaries.iteritems():
                <input type="checkbox" name="binaries[]" value="${key}" id="binaries_${key}"> <label for="binaries_${key}" title="${value}">${key}</label><br>
                % endfor
            </div>
        </div>
        <div class="frame">
            <h3>Tests</h3>

            <p>
                In the list below, please select the tests that you like to be run with each of the selected binaries on the previous page. A test can consist of multiple runs, all enabled runs are used and cannot be deselected in this interface for the moment. Also, each test will be run with the custom model settings as defined by the model developer as well as with default settings of the model.
            </p>

            <div class="checklist">
                <input type="checkbox" value="tests" onclick="selectAll(this);" id="tests_all"> <label for="tests_all">select all</label><br>

                % for key in c.tests:
                <input type="checkbox" name="tests[]" value="${key}" id="tests_${key}"> <label for="tests_${key}">${key}</label><br>
                % endfor
            </div>
        </div>
        <div class="frame">
            <h3>Reports</h3>

            <p>
                In the list below, please select the reports that you like to be generated. Reports can use any result from the skillbed, so please make sure that the required data is available from the selected bineries and tests on the previous pages.
            </p>

            <div class="checklist">
                <input type="checkbox" value="reports" onclick="selectAll(this);" id="reports_all"> <label for="reports_all">select all</label><br>

                % for key, value in c.reports.iteritems():
                <input type="checkbox" name="reports[]" value="${key}" id="reports_${key}"> <label for="reports_${key}" title="${value}">${key}</label><br>
                % endfor
            </div>
        </div>
        <div class="frame">
            <h3>Recipients</h3>

            <p>
                Please select from the list below the people that should recieve an e-mail with the generated reports. Keep in mind that reports that a certain recipient is not subscribed to, is not sent to that specific recipient.
            </p>

            <div class="checklist">
                <input type="checkbox" value="recipients" onclick="selectAll(this);" id="recipients_all"> <label for="recipients_all">select all</label><br>

                % for key, value in c.recipients.iteritems():
                <input type="checkbox" name="recipients[]" value="${key}" id="recipients_${key}"> <label for="recipients_${key}" title="${value}">${key}</label><br>
                % endfor
            </div>
        </div>
        <div class="frame">
            <h3>Configuration</h3>

            <p>
                Please select from the list below the types of runs should be executed. Currently, two types exists: custom and default. The custom type is the full model as constructed by the modeller. The default type omits all non-default settings and runs the model as if there was nog specific configuration.
            </p>

            <p>
                <input type="checkbox" value="types" onclick="selectAll(this);" id="types_all"> <label for="types_all">select all</label><br>
                <input type="checkbox" name="types[]" value="custom" id="custom" checked> <label for="custom">custom</label><br>
                <input type="checkbox" name="types[]" value="default" id="default"> <label for="default">default</label><br>
            </p>

            <p>
                If you want to test a local source code (seen from this client), provide the path to the source code below:<br>
            </p>

            <p>
                <input type="input" name="source" value="" size="30"><br>
            </p>

            <p>
                Two options are still left. The update option updates all servers with the latest skillbed source code, tests and reports. This option reboots all servers and stops all running skillbed runs.
            </p>

            <p>
                <input type="checkbox" name="update" value="1" id="update" onclick="if(this.checked){return confirm('Are you sure?\nThis will restart all skillbed servers and kill the currently running computations!');}"> <label for="update">update servers</label><br>
            </p>

            <p>
                To be notified by e-mail if the run is ready, fill in your e-mailaddress below:<br>
            </p>

            <p>
                <input type="input" name="email" value="" size="30"><br>
            </p>
        </div>
        <div class="frame">
            <h3>Start skillbed</h3>

            <p>
                Now, the skillbed is fired up. Press the button to start the skillbed process.
            </p>

            <p>
                <input type="submit" name="run" value="Start">
            </p>
        </div>

    </div>
</div>

</form>

<div id="footer">
    &nbsp;
</div>

</body>
</html>