<html>
<style type="text/css">

body, li {
  font-size: 14px;
  font-family: arial;
}

</style>

<body>

<div id="binarylist">
	<ul>
		${list}
	</ul>
</div>

See <a href="bin/" target="_blank">the archive</a> for previous builds.

</body>
</html>