
*******************************************************************************
*** Start of trisim for Run: example                                        ***
***         Simulation date: 2010-05-18 16:59:49                            ***
***                                                                         ***
*** User: Buffel                                                            ***
*******************************************************************************

*** MD FLOW file used: example.mdf

*** MESSAGE 0 bed load fraction(s) found in sediment file: example.sed 
*** MESSAGE Double precision computation using reals of kind    8 

*******************************************************************************
***                                                                         ***
*** Deltares, Delft3D-FLOW Version 3.60.02.11048, Mar 29 2010, 17:11:45     ***
***                                                                         ***
*******************************************************************************

*** MESSAGE Using Unesco density formulation by default 
*** MESSAGE Momentum solver cyclic method is specified 
*** MESSAGE DRYFLP and DPSOPT both specified in MD-file. Using DPSOPT: MAX 
*** MESSAGE Transport solver cyclic-method method is specified 
*** Start of transport formulation
*** MESSAGE No transport formula given. Using Van Rijn 1993 by default. 
*** End   of transport formulation
 
Sediment fraction  1: Sediment1           
Sediment fraction  2: Sediment2           
*** Start  of sediment input
    Sediment File Version: 02.00
Ref concentration             :  0.1600E+04
Option Dss                    :           0
Uniform mud content           :  0.0000E+00
Sediment number               :           1
  Name                        : Sediment1
  Type                        :        sand
  RHOSOL                      :  0.2650E+04
  sed. distribution           :  piecewise loguniform
  SedD10                      :  0.1050E-03
  SedD50                      :  0.1400E-03
  SedDM                       :  0.1500E-03
  SedD90                      :  0.2100E-03
  CDRYB                       :  0.1600E+04
  Uniform IniThick            :  0.5000E+01 [m]
  FACDSS                      :  0.1000E+01
Sediment number               :           2
  Name                        : Sediment2
  Type                        :        sand
  RHOSOL                      :  0.2650E+04
  sed. distribution           :  piecewise loguniform
  SedD10                      :  0.1500E-03
  SedD50                      :  0.2000E-03
  SedDM                       :  0.2142E-03
  SedD90                      :  0.3000E-03
  CDRYB                       :  0.1600E+04
  Uniform IniThick            :  0.5000E+01 [m]
  FACDSS                      :  0.1000E+01
*** End    of sediment input
 
*** Start  of morphological input
    Morphology File Version: 02.00
Morphological Timescale Factor          :          0.1000E+01
Morphological Changes Start Time (min)  :          0.6000E+02
Fixed Layer Erosion Threshold           :          0.5000E-01
Bed level updating                      :              ACTIVE
Composition updating                    :              ACTIVE
Entrainment/deposition flux in mass bal.:            INCLUDED
Sand Equili. conc. profs. at boundaries :                USED
Mud  Equili. conc. profs. at boundaries :            NOT USED
Sediment included in fluid density calc.:                  NO
AKSFAC                                  :          0.1000E+01
RWAVE                                   :          0.2000E+01
Equilibrium sed. conc. profiles         :calculated (D3D mix)
Suspended sed. multiplication factor    :          0.1000E+01
Bed load transp. multiplication factor  :          0.1000E+01
wave-rel. susp.sed.transp.fact.(SUSW)   :          0.1000E+01
wave-rel. bed-ld.sed.transp.fact.(BEDW) :          0.1000E+01
Min.depth for sed. calculations(SEDTHR) :          0.1000E+00
Glob./max. dry cell erosion fact(THETSD):          0.0000E+00
Max depth for variable THETSD (HMAXTH)  :          0.1500E+01
Computing THETSD for dry bank erosion   
Tuning param. Shields Taucr (FACTCR)    :          0.1000E+01
Eulerian velocities i.s.o GLM velocities for suspended transports                 :                  NO
EPSPAR: Always use van Rijns param. mix. dist. :                  NO
Standard option: Rc from Flow, Rw=RWAVE*0.025 :                   1
Update bed level at inflow boundaries   :                  NO
Merge bottoms from parallel runs        :                  NO
Source/sink limiter DZMAX(depth frac.)  :          0.5000E-01
Max. volumetric ref. conc. CAMAX        :          0.6500E+00
Hiding & exposure formulation           :                None
Bed slope effect formulation            :             Bagnold
ALFABS                                  :          0.1000E+01
ALFABN                                  :          0.1500E+01
Requested percentile(s)                 :             10.0000
                                        :             50.0000
                                        :             90.0000
Output transport rates                  :  volume excl. pores
Boundary name                           :                west
  Depth prescribed                      :               fixed
Boundary name                           :                east
  Depth prescribed                      :               fixed
*** End    of morphological input
 
*** Start  of underlayer input
Underlayer mechanism                    :                   1
Boundary name                           :                west
  Composition condition prescribed      :               fixed
Boundary name                           :                east
  Composition condition prescribed      :               fixed
Initial bed composition                 :  from sediment file
*** End    of underlayer input
 
*** MESSAGE Morphological Changes Start Time (step) : 600 
*** WARNING Latitude of your model is 0 degrees, model located at equator
 
*** Simulation finished *******************************************************
 
Performance timers:
|---------------------------------------------------------------------|
|Timer name           |       wall clock      |       CPU time        |
|                     |-----------------------|-----------------------|
|                     |       sec     |  %    |       sec     |  %    |
|---------------------------------------------------------------------|
|Initialization       |         1.62  |  2.9  |         0.64  |  1.1  | 
|Simulation           |        53.50  | 96.9  |        55.38  | 98.8  | 
|Close and stop       |         0.06  |  0.1  |         0.05  |  0.1  | 
|                     |------------- +|----- +|------------- +|----- +|
|Total                |        55.19  |100.0  |        56.06  |100.0  | 
|---------------------------------------------|-----------------------|
|Momentum eq.         |         3.11  |  5.6  |         3.30  |  5.9  | 
|Continuity eq.       |         3.19  |  5.8  |         3.19  |  5.7  | 
|Transport eq.        |         4.16  |  7.5  |         4.56  |  8.1  | 
|Turbulence           |         0.08  |  0.1  |         0.09  |  0.2  | 
|3D Morphology        |        35.48  | 64.3  |        36.45  | 65.0  | 
|Wait (dd   module)   |         0.00  |  0.0  |         0.00  |  0.0  | 
|Wait (ext. modules)  |         1.25  |  2.3  |         0.31  |  0.6  | 
|---------------------------------------------------------------------|
| Performance = CPU time / (TimeSteps*MMAX*NMAX*KMAX*LMAX)            |
|   TimeSteps   :        1200                                         |
|   MMAX        :          92                                         |
|   NMAX        :          32                                         |
|   KMAX        :           1                                         |
|   LMAX        :           2                                         |
|   Performance : 0.79346E-05 [sec]                                   |
|---------------------------------------------------------------------|
|Explanation:                                                         |
|                                                                     |
|Initialization : Everything up to the first time step                |
|Simulation     : All time steps                                      |
|Close and stop : Everything after the last time step                 |
|Total          : Trisim for this subdomain,                          |
|                 excluding allocation/deallocation of global data    |
|                                                                     |
|Momentum eq.   : Part of Simulation ("UZD")                          |
|Continuity eq. : Part of Simulation ("SUD")                          |
|Transport eq.  : Part of Simulation ("DIFU")                         |
|                 Only relevant when constituents are modelled.       |
|Turbulence     : Part of Simulation ("TURCLO, TRATUR, TUR2D")        |
|3D Morphology  : Part of Simulation ("EROSED, BOTT3D")               |
|                 Only relevant when sediments are modelled.          |
|Wait (dd)      : Part of Initialization, Simulation and Closing.     |
|                 ("NXTSTP, NXTDRY")                                  |
|                 Only relevant when DomainDecomposition is used.     |
|                 Communication with and execution of the "mappers".  |
|                 Mappers are separate threads, possibly in another   |
|                 executable, possibly on another node. They copy     |
|                 data from one subdomain to another.                 |
|                 Trisims must wait while the mappers are executing,  |
|                 mappers must wait while the trisims are executing.  |
|Wait (ext)     : Part of Initialization, Simulation and Closing.     |
|                 ("SYNC, _TO_, _FROM_, INSPEC, AUTH")                |
|                 Communication with and execution of all "external"  |
|                 modules: authorisation, Online Visualisation,       |
|                 Online WAVES, Online WAQ, Online RTC, Fluid Mud.    |
|                                                                     |
|---------------------------------------------------------------------|
 

*** End   of trisim for model: example                                      ***
***       2010-05-18 17:00:43                                               ***
