configparser
ExifRead
ipython
ipywidgets
matplotlib
notebook
numpy
pandas
python-dateutil
qgrid
scipy
ipykernel
ipython
ipywidgets
jupyter_client
jupyter_core
nbconvert
nbformat
notebook
opencv
widgetsnbextension
qgrid
