body {
  	background	: white;
  	color		: black;
  	font-family	: salse,arial,sans-serif;
  	margin		: 0;
  	padding		: 1ex;
  	font-size	: 12px;
}

h1 {
	font-family	: arial;
	background	: transparent;
	color		: #008FC5;
	font-size	: 24px;
	text-align	: center;
}

#wrapper {
	margin		: 0 auto;
	width		: 100%;
}

#header {
	color           : white;
	font-family     : salse,arial,sans-serif;
	font-size       : 12px;
	margin			: 0 auto;
	width			: 202px;
	height			: 130px;
}

#header_image {
	color           : white;
	background-color: white;
	border-style    : none;
	height			: 100px;
	margin			: 0 auto;
}

#content {
	float		:left;
	height		: 700px;
	width		: 100%;
}

.icon_image {
	border-style	: none;
}

#tree_panel {
	color           : black;
	background-color: #c2d6e1;
	font-family     : salse,arial,sans-serif;
	font-size       : 12px;
	border-style    : none;
	border-width	: thin;
	float			: left;
	max-height		: 700px;
	width			: 300px;
	overflow-x	: hidden;
	overflow-y	: auto;
	z-index		: 100;
}

#result_viewer {
	color           : black;
	background-color: white;
	border-style	: none;
	font-family     : salse,arial,sans-serif;
	font-size       : 12px;
	position		: relative;
	border-width	: thin;
	float			: left;
	left			: 20px;
	width			: 700px;
}

#result_tab {
	border-style	: none;
	background-color: white;
	position	: relative;
	top		: 0;
	left		: 0;
	width		: 700px;
	heigth		: 100%;
}

#tabs_result {
	max-height	: 700px;
	overflow	: auto;
}

#tabs_description {
	max-height	: 700px;
	overflow	: auto;
}

#result_description {
	position	: relative;
	top		: 0;
	left		: 0;
	width		: 700px;
	heigth		: 100%;
}

#FunctionCoverageSelection {
	float		: left;
	width		: 20%;
	}

#FunctionCoverageBody {
	float		: right;
	width		: 80%;
	}