backports-abc==0.5
bkcharts==0.2
bokeh==0.12.6
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
cycler==0.9.0
docutils==0.14
et-xmlfile==1.0.1
future==0.16.0
futures==3.1.1
GDAL==1.11.4
gisdata==0.5.4
gsconfig==1.0.6
httplib2==0.10.3
idna==2.5
jdcal==1.4
Jinja2==2.9.6
Logbook==0.12.5
lxml==3.5.0
MarkupSafe==1.0
matplotlib==1.5.1
netCDF4==1.2.2
numpy==1.13.3+mkl
openpyxl==2.5.12
OWSLib==0.14.0
pandas==0.22.0
psycopg2==2.6.1
PyInstaller==3.2.1
pyparsing==2.0.7
pypiwin32==219
pyproj==1.9.5.1
PyQt4==4.11.4
python-dateutil==2.4.2
python-magic==0.4.10
pytz==2015.7
pywps==3.2.1
PyYAML==3.12
requests==2.18.3
scipy==0.18.0
Shapely==1.5.17
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.10.0
spyder==2.3.8
SQLAlchemy==1.2.12
statistics==1.0.3.5
tornado==4.5.1
urllib3==1.22
xarray==0.10.0
