div, span {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.label {
    margin-top:10px;
    margin-bottom:5px;
}

.ui-tooltip {
    max-width:650px;
}

.ui-state-hover,
.ui-state-active {
    z-index:1000 !important;
}

.netcdfkickstarter div.netcdfkickstarter-column {
    width:250px;
    height:599px;
    float:left;
}

.netcdfkickstarter div.netcdfkickstarter-block {
    border:1px solid #aaaaaa;
    border-radius:4px;
    padding:5px;
    margin:5px;
    height:100%;
    overflow:auto;
    background-color:white;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

.netcdfkickstarter div.netcdfkickstarter-content-block {
    border:1px solid #aaaaaa;
    border-radius:4px;
    padding:5px;
    border-style:dotted;
    min-height:150px;
}

.netcdfkickstarter div.netcdfkickstarter-menubar {
    margin-bottom:20px;
}

.netcdfkickstarter div.netcdfkickstarter-template select,
.netcdfkickstarter div.netcdfkickstarter-template input,
.netcdfkickstarter div.netcdfkickstarter-dimension .ui-spinner,
.netcdfkickstarter div.netcdfkickstarter-dimension input,
.netcdfkickstarter div.netcdfkickstarter-output .ui-button,
.netcdfkickstarter div.netcdfkickstarter-variable .ui-accordion-content input {
    width:100%;
}

.netcdfkickstarter .netcdfkickstarter-template div.netcdfkickstarter-block {
    height:297px;
}

.netcdfkickstarter .netcdfkickstarter-template div.netcdfkickstarter-block input {
    width:220px;
}

.netcdfkickstarter div.netcdfkickstarter-variable .ui-accordion-header input {
    width:100px;
}

.netcdfkickstarter div.netcdfkickstarter-variable .ui-accordion-header .ui-button {
    height:19px;
    float:right;
    margin-top:-3px;
    margin-right:-3px;
    background:none;
}

.netcdfkickstarter div.netcdfkickstarter-output {
    width:150px;
}

.netcdfkickstarter div.netcdfkickstarter-output input {
    margin-top:20px;
//    border:2px solid #00ff00;
}

.netcdfkickstarter div.netcdfkickstarter-output label {
    padding:2px;
}